# local data
/bin
/include
/lib
/local
/static/*
!/static/.gitkeep
/media/*
!/media/.gitkeep
*.pyc
db.sqlite3

# clutter files
pyvenv.cfg
pip-selfcheck.json

# editor temporaries
*.swp
kakera.sublime-workspace
