#navbar {
    background-color: #333;

    .pure-menu-children {
        background-color: #333;
    }

    a {
        color: #ccc;
        text-decoration: none;
    }

    a:hover, .pure-menu-selected a {
        color: #333;
        background-color: #ccc;
    }
}
