{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% page_attribute "page_title" %}</title>
  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
  {% addtoblock "css" %}
  <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
  {% endaddtoblock %}
</head>
<body>
  {% cms_toolbar %}
  {% block base %}
  {% block content %}{% placeholder content %}{% endblock %}
  {% endblock %}
  {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
</body>
</html>
